$border-color: rgba(0, 0, 0, 0.1);

.table {
  tr:last-child  td {
    border-bottom: 1px solid $border-color;
  }
}

.won, .wonViaPush {
  border-bottom: 4px solid !important;
}

.won {
  border-bottom-color: #28A745 !important;
}
