$border-color: rgba(0, 0, 0, 0.1);
$border-style: 1px solid $border-color;

.appTable {
  white-space: nowrap;
  margin-bottom: 0;

  td, th {
    border-color: $border-color;
    text-align: center,
  }
}

@media (max-width: 767px) {
  .appTable {
    font-size: 13px;

    td, th {
      padding: 4px;
    }
  }
}
